/TheFFM.v.bak
/lcbCombiner.v.bak
/lcbFull.v.bak
/orb.asm.rpt
/orb.done
/orb.eda.rpt
/orb.fit.rpt
/orb.flow.rpt
/orb.map.rpt
/orb.map.smsg
/orb.tan.rpt
/orb_nativelink_simulation.rpt
/serv_req_info.txt
*.qws
